<h1>Todo List</h1>
<h2>Gestionnaire de tâches</h2>

<form>
  <label for="item">Ajouter une tâche</label>
  <div class="fields">
    <input type="text" id="item" placeholder="Intitulé de la tâche" />
  </div>

  <button type="submit">Ajouter</button>
</form>

<ul class="list-todo">
  <li data-key="60" class="ok">
    <input type="checkbox" checked="checked" /><span>Première tâche</span
    ><button>X</button>
  </li>
  <li data-key="65" class="ok">
    <input type="checkbox" checked="checked" /><span>2ème tâche</span
    ><button>X</button>
  </li>
  <li data-key="66">
    <input type="checkbox" /><span>Saluer le boss</span
    ><button>X</button>
  </li>
  <li data-key="67">
    <input type="checkbox" /><span>Etc ...</span
    ><button>X</button>
  </li>