<div class="container w-50 my-5">
  <div class="card">
    <img
      src="https://assets-global.website-files.com/619cef5c40cb8925cd33ece3/621e3d842f5305af9170e4eb_619cef5c40cb8963c133f5fc_6076f40a7bc433d96f4663f4_template-vignette-TO-DO-LIST-1200x900.png"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body text-center">
      <h5 class="card-title">Super Todolist</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos culpa
        quibusdam sed cumque vel eum aperiam accusamus? Iusto tenetur voluptatum
        delectus consectetur recusandae doloremque, architecto sint aliquam
        laudantium illum molestias.
      </p>
      <a class="btn btn-primary" routerLink="/tasks">Gestion des tâches</a>
    </div>

    <div class="m-4 p-4 bg-danger rounded  mb-5">
      <h5 class="text-center mb-4 text-white card-title">Dernières tâches !</h5>
      <ul class="p-0 mb-0 d-grid gap-3">
        <app-task *ngFor="let task of tasks" [task]="task" [readonly]="true"></app-task>
      </ul>
    </div>
  </div>
</div>
